body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/* basic grid
Why a float grid? I don't want to interfere with flexbox layout. */
.row,
.col {
  display: block;
  box-sizing: border-box;

}
/* clearfix */
.row:before,
.row:after {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .col {
    width: 25%;
    padding: 0 1em;
    float: left;
  }
}

/* flexbox */
.container {
  display: flex;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}
.container--one,
.container--five,
.container--six,
.container--seven,
.container--eight,
.container--nine,
.container--ten,
.container--11 {
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /* shorthand for the above: */
  flex-flow: row wrap;
  height: auto;
}
.container--two {
  flex-flow: row-reverse wrap;
  height: auto;
}
.container--three {
  flex-flow: column wrap;
}
.container--four {
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
}
.square {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  transition: background-color .5s ease;
}
.item {
  background-color: #ccc;
  border: 1px solid #999;
  width: 50px;
  height: auto;
  font-family: Courier New, Courier, fixed, serif;
  font-size: 12px;
}
.square:hover {
  background-color: #eaeaea;
}
.container--five .square {
  flex-basis: 20%;
}
.container--six .square {
  flex-basis: 20px;
}
.container--seven .square {
  flex-grow: 1;
  flex-basis: 20px;
}
.container--eight .square {
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: 20%;*/
  /* shorthand */
  flex: 1 1 20%;
}
.container--nine .square,
.container--ten .square,
.container--11 .square {
  width: 50px;
  height: 50px;
}
.container--nine .square {
  /*flex: 0 1 auto;*/
  flex: initial;
}
.container--ten .square {
  /*flex: 1 1 auto;*/
  flex: auto;
}
.container--11.square {
  /*flex: 0 0 auto;*/
  flex: none;
}
/* cross axis */
.container--12 {
  align-items: stretch;
}
.container--13 {
  align-items: flex-start;
}
.container--14 {
  align-items: flex-end;
}
.container--15 {
  align-items: center;
}
/* main axis */
.container--16 {
  align-items: flex-start;
  justify-content: flex-start;
}
.container--17 {
  align-items: flex-start;
  justify-content: flex-end;
}
.container--18 {
  align-items: flex-start;
  justify-content: center;
}
.container--19 {
  align-items: flex-start;
  justify-content: space-around;
}
.container--20 {
  align-items: flex-start;
  justify-content: space-between;
}
.container--21 {
  align-items: flex-start;
  justify-content: space-evenly;
}